body {
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

button {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    background: transparent;
    border: 0px;
}

.App {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.login, .register {
    width: 440px;
    padding: 24px;
    border: 3px solid rgba(220,220,220, 1);
    margin: 10vh auto;

    h3 {
        font-size: 3em;
        margin: 10px 0 40px 0;
    }

    div {

        position: relative;
        text-align: left;

        input {
            width: 90%;
            background: rgba(220,220,220, .4);
            padding: 8px 20px;
            border: 0px;
            border-radius: 6px;
            margin: 0 0 20px 0;
            font-size: 1.2em;
        }

        label {
            position: absolute;
            background: white;
            top: -12px;
            left: 8px;
        }
    }

    .loginButton {
        text-align: right; 
        margin: 10px 0 40px 0;
    }

    button {
        background: rgba(227, 255, 230, .8);
    }

}

.header {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 20px 0;

    span {
        font-size: 32px;
    }

    button {

        &.on {
            color: blue;
        }
    }
}

.accountBody {
    width: 100%;
    display: flex;
    flex-direction: row;

    .portfolio {

        text-align: left;
        flex-grow: 10;

        .portfolioHeader {

            display: flex;
            justify-content: space-between;

            h3 {
                font-size: 3em;
            }
        }

        .portfolioItem {
            display: grid;
            font-size: 2em;
            grid-template-columns: 20fr 40fr 60fr;
            padding: 10px;
            margin: 0 0 10px 0;

            &.up {
                background: rgba(227, 255, 230, .8);
            }

            &.down {
                background: rgba(255, 196, 196, .8);
            }

            &.null {
                background: rgba(220,220,220, .8);
            }

            div {
                text-align: left;
            }

            .symbol {
                font-weight: bold;
            }

            .currentValue {
                text-align: right;
            }
        }
    }

    .transactions {

        text-align: left;
        flex-grow: 10;

        h3 {
            font-size: 3em;
        }

        .transaction {
            display: grid;
            font-size: 2em;
            align-items: end;
            grid-template-columns: 8fr 8fr 18fr 40fr 26fr;
            background: rgba(220,220,220, .8);
            padding: 10px;
            margin: 0 0 10px 0;

            .date, .transType {
                font-size: 18px;
                align-self: center;
            }

            .numShares {
                font-size: 24px;
            }
            
            .transTotal {
                text-align: right;
            }
        }
    }

    .console {
        width: 400px;
        height: 70vh;
        margin: 100px 0 0 30px;
        padding: 0 0 0 30px;
        border-left: 3px solid rgba(220,220,220, 1);

        .cashBalance {
            font-weight: bold;
            text-align: left;
            font-size: 2.6em;
            margin: 0 0 30px 0;
        }

        div {

            position: relative;

            input {
                width: 100%;
                padding: 8px 20px;
                border-radius: 4px;
                margin: 0 0 20px 0;
                font-size: 1.2em;
            }

            label {
                position: absolute;
                background: white;
                top: -12px;
                left: 8px;
            }
        }

        .symbolError {
            margin: 14px 0 30px 0;
            color: red;
        }

        .info {
            display: flex;
            justify-content: space-between;
            text-align: left;
            margin: 0 0 20px 0;

            div {

                .infoItem {
                    font-size: 2em;
                    font-weight: bold;
                }

            }
        }

        .buyControl {
            display: flex;
            justify-content: flex-end;

            button {
                font-size: 1.4em;
                margin-left: 10px;
                background: rgba(220,220,220, 1);
    
                &.sell.on {
                    background: rgba(227, 255, 230, 1);
                    box-shadow: 4px 4px rgba(220,220,220, 1);
                }
    
                &.buy.on {
                    background: rgba(255, 196, 196, 1);
                    box-shadow: 4px 4px rgba(220,220,220, 1);
                }
            }
        }

        .makeTransaction {
            margin: 10px 0 0 0;
            display: flex;
            justify-content: flex-end;

            .go {
                background: lightblue;
            }

            .stop {
                background: red;
                cursor: not-allowed;
            }

            .error {
                background: coral;
            }

        }

    }

}

  